* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* header part starts */
header {
    background: linear-gradient(90deg, rgba(254,244,255,1) 0%, rgba(255,255,255,1) 47%, rgba(238,255,255,1) 100%, rgba(0,212,255,1) 100%);
}

header .navbar {
    padding-bottom: 70px;
}

header .navbar-nav a {
    font-size: 17px;
    color: #686C75;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

header .navbar h2 {
    font-size: 30px;
    color: #000000;
    font-weight: 400;
}

/* header part ends */

/* banner part starts */
#banner .banner_cnt h1 {
    font-size: 55px;
    font-weight: 700;
    color: #000000;
    padding-bottom: 50px;
}

#banner .banner_cnt .city {
    width: 750px;
    background: rgba(243, 243, 243, 0.5);
    backdrop-filter: blur(35.5212px);
    border-radius: 5.22371px;
    padding: 20px 0;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

#banner .banner_cnt .city span,small {
    font-size: 18px;
    font-weight: 400;
    color: #989898;
    padding-left: 10px;
}
#banner .banner_cnt .city small {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#banner .banner_cnt .city a {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #FD5B2F;
    padding: 10px;
    border-radius: 5px;
    display: inline-block !important;
}
#banner .banner_cnt .ellipse_img img{
    margin-left: -15px;
}
#banner .banner_cnt .ellipse_img small{
    font-size: 10px;
    color: #fff;
    font-weight: 800;
    background-color: #13DED2;
    padding: 13px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50%;
}
#banner .banner_cnt .ellipse_img span{
    color: #000000;
    font-size: 13px;
    font-weight: 500;
    padding-left: 10px;
}
#banner .banner_images{
    position: relative;
}
#banner .banner_images .image_50{
    width: 400px;
    border-left: 3px solid #A7327A;
    border-top: 3px solid #A7327A;
    border-top-left-radius: 230px;
    border-top-right-radius: 230px;
    padding-left: 10px;
    padding-top: 10px;
}
#banner .banner_images .image_50 img{
    width: 100%;
    border-top-left-radius: 240px;
    border-top-right-radius: 240px;
}
#banner .banner_images .ellipse1 {
    position: absolute;
    top: -60px;
    right: -30px;
    width: 350px;
}
#banner .banner_images .ellipse1 img{
    width: 100%;
}
#banner .banner_images .ellipse2 {
    position: absolute;
    top: 161px;
    right: -102px;
}
#banner .banner_images .ellipse3 {
    position: absolute;
    top: 73px;
    right: -138px;
}
#banner .banner_images .co_work{
    position: absolute;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.1);
    font-weight: 700;
    bottom: 91px;
    right: -31px;
    transform: rotate(90deg);
}
#banner .social_img{
    margin: 40px 0;
    text-align: center;
}
#banner .social_img img{
    margin: 0 20px;
}
/* banner part ends */